<component name="libraryTable">
  <library name="spring-test-mvc-1.0.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-23/filestore/org.springframework/spring-test-mvc/1.0.0.BUILD-SNAPSHOT/jar/e787def7fe5cd3d7d21b8a28530f6b067fdaacfc/spring-test-mvc-1.0.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-23/filestore/org.springframework/spring-test-mvc/1.0.0.BUILD-SNAPSHOT/source/4de3ffd9ac408a50d24c3c640a2526df82f5f922/spring-test-mvc-1.0.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>