<component name="libraryTable">
  <library name="spring-web-3.1.2.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-23/filestore/org.springframework/spring-web/3.1.2.RELEASE/jar/34a73557b66ea3c68892c042f2c9ba7e8bff8eac/spring-web-3.1.2.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-23/filestore/org.springframework/spring-web/3.1.2.RELEASE/source/7d4d1be9478d7a011bbe4d08ecf1b2053e0d4c9d/spring-web-3.1.2.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>